In [78]:
import pandas as pd

In [79]:
df = pd.read_csv("./Data/Raw Data/Forecasted_generation.csv")

In [80]:
df['Datetime'] = df['Datum'] + ' ' + df['Uhrzeit']

In [81]:
df.index = pd.DatetimeIndex(df['Datetime'])

In [82]:
df = df.drop(['Datum', 'Uhrzeit', 'Datetime'], axis = 1)

In [83]:
df = df.replace('-',0)

In [84]:
df['Gesamt[MWh]'] = df['Gesamt[MWh]'].astype(float)
df['Wind Offshore[MWh]'] = df['Wind Offshore[MWh]'].astype(float)
df['Wind Onshore[MWh]'] = df['Wind Onshore[MWh]'].astype(float)
df['Photovoltaik[MWh]'] = df['Photovoltaik[MWh]'].astype(float)
df['Sonstige[MWh]'] = df['Sonstige[MWh]'].astype(float)

In [85]:
df_small = df.resample('H').sum()

In [86]:
df_small.head()

,Gesamt[MWh],Wind Offshore[MWh],Wind Onshore[MWh],Photovoltaik[MWh],Sonstige[MWh]
Datetime,,,,,
2015-01-01 00:00:00,10575.0,46.0,2970.0,0.0,7560.0
2015-01-01 01:00:00,10205.0,48.0,3028.0,0.0,7130.0
2015-01-01 02:00:00,10080.0,48.0,3089.0,0.0,6944.0
2015-01-01 03:00:00,9725.0,48.0,3113.0,0.0,6566.0
2015-01-01 04:00:00,10065.0,48.0,3113.0,0.0,6906.0

In [87]:
df.head()

,Gesamt[MWh],Wind Offshore[MWh],Wind Onshore[MWh],Photovoltaik[MWh],Sonstige[MWh]
Datetime,,,,,
2015-01-01 00:00:00,10575.0,11.0,738.0,0.0,7560.0
2015-01-01 00:15:00,0.0,11.0,741.0,0.0,0.0
2015-01-01 00:30:00,0.0,12.0,744.0,0.0,0.0
2015-01-01 00:45:00,0.0,12.0,747.0,0.0,0.0
2015-01-01 01:00:00,10205.0,12.0,751.0,0.0,7130.0

In [89]:
df_small.to_csv("./Data/Raw Data/Forecasted_generation_short.csv")